/**/

/* region basic overall styling: font, outer padding */

body {
    padding: 1%;
    font-family: sans-serif;
    font-size: 14px;
}

/* endregion basic overall styling: font, outer padding */


/* region buttons and quasi-buttons  */

.button {
    text-decoration: none;
    color: black;
    background: transparent;

    font-size: 110%;
    text-align: center;
    font-weight: bold;

    position: relative; /* "relative" to its normal layout; allows offset repositioning */
    margin: 5px;
    padding: 10px;
    width: auto;
    height: auto;

    border-top: darkblue 3px solid;
    border-left: darkblue 3px solid;
    border-right: darkblue 3px solid;
    border-bottom: darkblue 3px solid;
    border-radius: 15px;
}

.button:hover {
    color: darkblue;
    background-color: lightyellow;
    box-shadow: 3px 3px 2px lightgray;
    transform: scale(1.05, 1.05);

    transition: color 0.0625s,
    background-color 0.0625s,
    box-shadow 0.0625s,
    transform 0.0625s;
}

/* this is the style when a button is being clicked */
.button:active {
    /* when the position aspect already is
       relative, these shift the position */
    left: 1px;
    top: 1px;

    /* coloring allows the position shift to be smaller */
    background: blue;
    border-color: blue;
}

/* .class.class syntax means "when both of these classes are together";
   without it, some conflicting aspects don't override based on order */
.button.disabled {
    color: lightgray;
    border-color: lightgray;
    transition: color 0.0625s,
    border-color 0.0625s;
}

.button.disabled:hover {
    color: lightgray;
    background-color: gainsboro;
    border-color: lightgray;
    transform: scale(1, 1);
    transition: color 0.0625s,
    background-color 0.0625s,
    border-color 0.0625s,
    transform 0.0625s;
}

.button.disabled:active {
    /* these have to be set to override the
       aspects set on .button in general */
    left: 0px;
    top: 0px;
}

/* endregion buttons and quasi-buttons  */


/* region semantic element styling */

a {
    color: #00B7FF;
}

h3 {
    margin-top: 0px;
    margin-bottom: -12px;
}

.region {
    border-radius: 25px;
    border: brown 5px dotted;
    padding: 25px;
    margin: 10px;
}

.block {
    border-radius: 25px;
    border: brown 3px solid;
    padding: 25px;
    margin: 10px;
}

.box {
    border-radius: 6px;
    border: brown 1px solid;
    padding: 9px;
    margin: 3px;
}

.bubble {
    border-radius: 6px;
    border: brown 1px solid;
    padding: 9px;
    margin: 3px;
    width: max-content;
}

.intended {
    font-style: italic;
}

/* endregion semantic element styling, in general */


/* region semantic styling, drag and drop */

.draggable:hover {
    background-color: lightyellow;
    box-shadow: 3px 3px 2px lightgray;
    transform: scale(1.05, 1.05);

    transition: background-color 0.0625s,
    box-shadow 0.0625s,
    transform 0.0625s;
}

.droppable:hover,
.trashable:hover {
    background-color: whitesmoke;
    box-shadow: 3px 3px 2px lightgray;
    transform: scale(1.01, 1.01);

    transition: background-color 0.125s,
    box-shadow 0.0625s,
    transform 0.125s;
}

.drop-to-act:hover {
    background-color: lightyellow;
    box-shadow: 3px 3px 2px lightgray;
    transform: scale(1.01, 1.01);

    transition: background-color 0.125s,
    box-shadow 0.0625s,
    transform 0.125s;
}

.dropped-on-finder {
    transform: scale(0.85, 0.85);
    transition: transform 0.0625s;
}

/* endregion semantic styling, drag and drop */


/* region semantic styling, test runner only */

.intro {
    margin-top: 24px;
}

.result {
    margin-left: 24px;
}

.results-bar {
    font-size: 105%;
    border: brown 3px dotted;
    border-radius: 6px;
    padding: 9px;
    margin: 3px;
}

.none-yet-run {
    padding: 18px;
    background: lightyellow;
    border: solid gold 3px;
}

.all-passed {
    font-weight: bold;
    padding: 18px;
    background: lightgreen;
    border: solid green 3px;
}

.any-failed {
    font-weight: bold;
    padding: 18px;
    background: rgba(255, 0, 0, 0.7); /* faded plain red */
    border: solid darkred 3px;
}

/* endregion semantic styling, test runner only */


/* region element coloring */

.white {
    background-color: white;
}

.blue {
    color: royalblue;
    border-color: blue;
}

.green {
    color: forestgreen;
    border-color: green;
}

.darkgreen {
    color: green;
    border-color: darkgreen;
}

.purple {
    color: purple;
    border-color: rebeccapurple;
}

.gold {
    color: goldenrod;
    border-color: gold;
}

.orange {
    color: orange;
    border-color: darkorange;
}

.red {
    color: darkred;
    border-color: red;
}

.darkblue {
    color: darkslateblue;
    border-color: darkblue;
}

.gray {
    color: black;
    border-color: dimgray;
}

.shady {
    background-color: #e3e3e3;
}

.deep-shady {
    background-color: lightgray;
}

/* endregion element coloring */


/* region mixed styling */

/* mixes of element, semantic, and color styling */

/* most .button are also .gold,
   but not all .gold are .button */
.button.gold:active {
    border-color: darkblue;
}

/* endregion mixed styling */


/* region top area grid sizing and positioning */

/* future: maybe work out how to get the R-side positioning standard */
.top-area {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-right: 4.5%;
}

.top-left {
    grid-column: 1 / 1;
}

.top-right {
    grid-column: 2 / 2;
}

/* endregion top area grid sizing and positioning */


/* region outer grid sizing and positioning */

.outer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.left {
    grid-column: 1 / 1;
}

.middle {
    grid-column: 2 / 2;
}

.right {
    grid-column: 3 / 3;
}

/* endregion outer grid sizing and positioning */


/* region other element sizing and positioning */

.top {
    vertical-align: top;
}

.adjacent {
    display: inline-block;
}

.whole {
    width: 90%;
}

.most-exactly {
    width: 85%;
    max-width: 85%;
    min-width: 85%;
}

.half {
    width: 40%;
}

.third {
    width: 25%;
}

.right-side {
    float: right;
    margin-right: 5%;
}

.right-close {
    float: right;
    margin-right: 2.5%;
}

.right-edge {
    float: right;
    margin-right: 1%
}

/* the overlay is the background to a pop-up dialog box */
.overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    opacity: 35%;
}

/* the dialog-box is the style for the pop-up in front */
.dialog-box {
    position: fixed;
    left: 35%;
    top: 25%;
    z-index: 20;
    opacity: 100%;
}

/* endregion other element sizing and positioning */


/* region semantic element grid */

.graph-actions {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 10px;
    height: 135px;
}

.finder {
    grid-column: 1;
    height: 100%;
    background-image: url("../images/FindImage.png");
    background-position: 50%;
    background-size: contain;
}

.adder {
    grid-column: 2;
    height: 100%;
    background-image: url("../images/GraphImage.png");
    background-position: 50%;
    background-size: contain;
}

/* endregion semantic element grid */


/* region atomic non-positional styling */

.full-size {
    font-size: 100%;
}

.solid {
    border-style: solid;
}

.thick {
    border-width: 3px;
}

.slim {
    border-width: 2px;
}

/* endregion atomic non-positional styling */


/* region special effects */

.faded {
    opacity: 5%;
    transition: opacity 1s;
}

/* endregion special effects */
